<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <display-name>Tienda Online Arte</display-name>

    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-artwork-path</param-name>
        <param-value>/Users/bslan/Desktop/apache-tomcat-9.0.89/webapps/artmarket_pictures/artwork</param-value>
    </context-param>

    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-sculpture-path</param-name>
        <param-value>/Users/bslan/Desktop/apache-tomcat-9.0.89/webapps/artmarket_pictures/sculpture</param-value>
    </context-param>
</web-app>


